{% extends "blog/base.html" %}
{% load static %}
{% block content %}
 <img src="https://www.billboard.com/files/styles/article_main_image/public/media/phil-spector-2014-mug-shot-billboard-650x430.jpg" height="200" width="300">
	<h3>Name: Fernando Melchert</h3>
		<ol>
	  		<p>Hello my name is Fernando and I like to hike mountains, its my dream to climb mount everest 3 times before I die</p>

	 		<li>My favorite film is <a href="https://en.wikipedia.org/wiki/Mary_Poppins_(film)"> Mary Poppins </a></li>
	  		<li>I am from the deep blue sea</li>
	  		<li>My favorite food is Korean Tacos </li>
	  		<li>I speak Togalo</li>
	  		<li>I'm really into collecting beatles</li>
	  		<li>I LOVE cooking</li>
	  		<li> My favorite chocolate is kinder bueno</li>
	  		<li>I would love to visit Bali</li>
	  		<li>My favorite color is black like my heart</li>
	</ol>
	<p>Check out my social medias if you share common interests!</p>
	<style >
        .button {
            background-color: navy;
            border: none;
            color: white;
            padding: 15px 25px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
        }
        .button:hover {
            background-color: blue;
        }
    </style>
	<form action="https://www.facebook.com/">
		<button class="button" type="submit"> Facebook </button>
	</form>

	<br></br>

		<style >
        .button {
            background-color: navy;
            border: none;
            color: white;
            padding: 15px 25px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
        }
        .button:hover {
            background-color: blue;
        }
    </style>
	<form action="https://www.instagram.com/">
		<button class="button" type="submit"> Instagram </button>
	</form>

	<br></br>

		<style >
        .button {
            background-color: navy;
            border: none;
            color: white;
            padding: 15px 25px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
        }
        .button:hover {
            background-color: blue;
        } 
    </style>
	<form action="https://www.snapchat.com/">
		<button class="button" type="submit"> Snapchat </button>
	</form>

	<br></br>


		<style >
        .button {
            background-color: navy;
            border: none;
            color: white;
            padding: 15px 25px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
        }
        .button:hover {
            background-color: blue;
        } 


    </style>
	<form action="https://www.linkedin.com/">
		<button class="button" type="submit"> LinkedIn </button>
	</form>

	<br></br>
{% endblock content %} 