{% extends "blog/base.html" %}

{% block content %}
    <style>
    	.art {
            background-color: none;
            border: none;
            color: black;
            font-size: 16px;
        }
    </style>
        <article class="art">
        	<h3>Why I LOVE Cooking! <br></h3>
	        <h6>May 19, 2019<br></h6>
	            <p>I love cooking because it reminds me of home. When I was younger, I used to ask my mom if I could make dinner with her. It was really coOL. The first thing I ever did was a tortilla. I even have a roller or "palote" as we call it to make it flat. Of course, my tortilla was the ugly and it was never round. But to me it was perfect. </p><br><br>
	        <h3>Summer School Journey <br></h3>
	        <h6><br>May 19, 2019</h6>
	            <p>This summer I made the decision of taking summer school at my univerity to complete a Computer Science Diploma. Today is the first day of week 3 and I have learned so many things that I thought I couldn't even learn in a year. Don't get me wrong, it is tough. There are so many assignemnets and due dates and programming languages that at times I get confused. But I like the challenge. If I wouldn't feel challeneged I would have probably hated this summer.</p>
        </article>
{% endblock %}