{% extends "blog/base.html" %}
{% block content %}
	<h1>My Photos</h1>

	<h5>Holiday photos</h5>
	<br><br>
	<img src="https://www.britishairways.com/assets/images/MediaHub/Media-Database/Royalty-free-RF/Destinations/Mauritius-MRU/185241201_1200x675.jpg" height="200" width="250"> 

	<img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/04/11/12/package-holiday-credit-grafner.jpg?w968h681" height="200" width="200">
	<img src="https://scdn.thomascook.com/images/wcms/dam/tcuk/new/campaigns/peaks/destinations/page/balearics.jpg" height="200" width="200">

	<br></br>

	<h5>Pic on the beach before Hult starts:</h5>



	<img src="https://media.gettyimages.com/photos/sacha-baron-cohen-as-borat-at-the-cannes-beach-in-cannes-france-picture-id74800835" height="300" width="225">





	<br></br>
{% endblock content %} 

